@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Raleway', sans-serif;
  }
}

/* black theme  */
.whiteSharedSubTitle {
  border-left: 2px solid white;
  border-right: 2px solid white;
  margin: auto;
  padding: 5px 10px 4px;
  position: relative;
  width: max-content;
  z-index: 0;
}

.whiteSharedSubTitle:before {
  background-color: white;
  content: "";
  height: 2px;
  position: absolute;
  left: -1px;
  top: 0;
  width: 46px;
}

.whiteSharedSubTitle:after {
  bottom: -1px;
  right: -1.7px;
  width: 46px;
  background-color: white;
  content: "";
  height: 2px;
  position: absolute;
}
/* white theme  */
.blackSharedSubTitle {
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin: auto;
  padding: 5px 10px 4px;
  position: relative;
  width: max-content;
  z-index: 0;
}

.blackSharedSubTitle:before {
  background-color: black;
  content: "";
  height: 2px;
  position: absolute;
  left: -1px;
  top: 0;
  width: 46px;
}

.blackSharedSubTitle:after {
  bottom: -1px;
  right: -1.7px;
  width: 46px;
  background-color: black;
  content: "";
  height: 2px;
  position: absolute;
}

.typewriter {
  -webkit-animation: typing 3.5s steps(30), blink-caret .5s step-end infinite;
  animation: typing 3.5s steps(30), blink-caret .5s step-end infinite;
  border-right: 1.5px solid white;
  max-width: -webkit-max-content;
  max-width: max-content;
  overflow: hidden;
  white-space: nowrap;
}



@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

.typewrite {
  -webkit-animation: typing 3.5s steps(30), blink-light-caret .5s step-end infinite;
  animation: typing 3.5s steps(30), blink-light-caret .5s step-end infinite;
  border-right: 1.5px solid #DA5724;
  max-width: -webkit-max-content;
  max-width: max-content;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes blink-light-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }
}

.shadow-dark {
  box-shadow: 0 0 8px -5px black;
}
.shadow-light{
  box-shadow: 0 0 8px -5px white;
}

.themeController {
  bottom: 20px;
  height: 50px;
  position: fixed;
  right: 5px;
  width: 50px;
  z-index: 999;
}


.themeIcon {
  position: absolute;
  -webkit-transform: translate(0);
  transform: translate(0);
}
.appear {
  -webkit-animation: dawn .5s ease-in-out;
  animation: dawn .5s ease-in-out;
  opacity: 1;
}

@keyframes dawn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
}
100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
}
}


.dissappear {
  -webkit-animation: dusk .5s ease-in-out;
  animation: dusk .5s ease-in-out;
  opacity: 1;
}